@import '_material_shadows';

$desktopSideMargin: 24px;
$desktopWidth: 960px - $desktopSideMargin * 2;
$desktopPagerWidth: $desktopWidth * .65;
$intermediateWidth: 600px - $desktopSideMargin * 2;
$narrowSideMargin: 16px;

$codeColor: material-color('purple', '500');
$linkColor: material-color('blue', '500');

@mixin stacked {
  @media only screen and (max-width: ($desktopWidth + $desktopSideMargin * 2 - 1)) {
    @content;
  }
}

@mixin narrow {
  @media only screen and (max-width: ($intermediateWidth + $desktopSideMargin * 2 - 1)) {
    @content;
  }
}

// layout and ui elements

nav.top-bar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0;
  background-color: $colorPrimary;

  .home-link {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    padding-left: 48px;
    color: #fff;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      box-sizing: border-box;
      border: 2px solid #fff;
      width: 36px;
      height: 36px;
      background-color: #525252;
      background-image: url('/images/avatar.png');
      background-size: cover;
      border-radius: 50%;
    }

    // &:after {
    //   @include material-icons;
    //   content: 'arrow_back';
    //   position: absolute;
    //   left: -32px;
    //   top: (36px - 24px) / 2;
    //   font-size: 24px;
    // }
  }
}

.top-bar-content,
.page-content {
  width: $desktopWidth;

  @include stacked {
    width: $intermediateWidth;
  }

  @include narrow {
    box-sizing: border-box;
    width: 100%;
  }

  padding: 0 $desktopSideMargin;

  @include narrow {
    padding: 0 $narrowSideMargin;
  }

  margin: 0 auto;
}

// typography and styling

body {
  color: $textColor;
}

body,
p {
  font-size: 14px;
  line-height: 20px;
}

pre,
code {
  font-family: 'fira-mono', monospace;
  color: $codeColor;
}

strong,
b {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

a {
  color: $linkColor;
}

ul,
p {
  margin: 0 0 20px 0;
}

li {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}
