$desktopSideMargin: 24px;
$desktopWidth: 960px - $desktopSideMargin * 2;
$desktopPagerWidth: $desktopWidth * .65;
$intermediateWidth: 600px - $desktopSideMargin * 2;
$narrowSideMargin: 16px;

@mixin stacked {
  @media only screen and (max-width: ($desktopWidth + $desktopSideMargin * 2 - 1)) {
    @content;
  }
}

@mixin narrow {
  @media only screen and (max-width: ($intermediateWidth + $desktopSideMargin * 2 - 1)) {
    @content;
  }
}