// theming

@mixin __theme-common() {
  @include typography-vars();
  --link-color: var(--accent-color);
  font-family: var(--font-stack-body);
}

@mixin theme-light() {
  @include __theme-common();
  --on-rgb: 0, 0, 0;
  --on-color-primary: #{rgba(#000, .87)};
  --on-color-secondary: #{rgba(#000, .54)};
  --on-color-tertiary: #{rgba(#000, .38)};
  $accentColor: #1a73e8;
  --accent-rgb: #{color-to-rgb-tuple($accentColor)};
  --accent-color: #{$accentColor};
  --accent-color-dark: #1967d2;
  --code-color: #{material-color('purple', '500')};
  --thin-border-color: #{rgba(#000, .12)};
  --background-rgb: 255, 255, 255;
  --background-color: #fff;
  --background-color-2: #{material-color('grey', '50')};
  --background-color-3: #{material-color('grey', '100')};
  --background-color-4: #{material-color('grey', '200')};
}

@mixin theme-dark() {
  @include __theme-common();
  --on-rgb: 255, 255, 255;
  --on-color-primary: #fff;
  --on-color-secondary: #{rgba(#fff, .7)};
  --on-color-tertiary: #{rgba(#fff, .5)};
  $accentColor: #8ab4f8;
  --accent-rgb: #{color-to-rgb-tuple($accentColor)};
  --accent-color: #{$accentColor};
  --accent-color-dark: #aecbfa;
  --code-color: #{material-color('purple', '200')};
  --thin-border-color: #{material-color('blue-grey', '700')};
  $backgroundColor: material-color('blue-grey', '900');
  --background-rgb: #{color-to-rgb-tuple($backgroundColor)};
  --background-color: #{$backgroundColor};
  --background-color-2: #1d272b;
  --background-color-3: #151c1f;
  --background-color-4: #040506;
}
