// typographic scale

@mixin typography-vars() {
  // alternatives: skolar-latin, leo, tenso
  --font-stack-body: skolar-latin, sans-serif;
  --font-weight-body-regular: 400;
  --font-weight-body-medium: 500;
  --font-weight-body-bold: 900;

  --font-stack-display: tenso, sans-serif;
  --font-weight-display-regular: 400;
  --font-weight-display-medium: 500;
  --font-weight-display-bold: 900;

  --font-stack-code: 'JetBrains Mono', monospace;
  --font-weight-code-regular: 400;
  --font-weight-code-medium: 500;
  --font-weight-code-bold: 500;
}

@mixin __type-display-base($fontSize, $lineHeight, $weight) {
  font-family: var(--font-stack-display);
  font-size: $fontSize;
  line-height: $lineHeight;
  @if $weight == 'bold' {
    font-weight: var(--font-weight-display-bold);
  } @else if $weight == 'medium' {
    font-weight: var(--font-weight-display-medium);
  } @else {
    font-weight: var(--font-weight-display-regular);
  }
}

@mixin type-display-1($weight: regular) {
  @include __type-display-base(56px, 80px, $weight);
}

@mixin type-display-2($weight: regular) {
  @include __type-display-base(40px, 56px, $weight);
}

@mixin type-headline-1($weight: medium) {
  @include __type-display-base(32px, 48px, $weight);
}

@mixin type-headline-2($weight: regular) {
  @include __type-display-base(26px, 36px, $weight);
}

@mixin type-headline-3($weight: regular) {
  @include __type-display-base(20px, 28px, $weight);
}

@mixin __type-body-base($fontSize, $lineHeight, $weight) {
  font-family: var(--font-stack-body);
  font-size: $fontSize;
  line-height: $lineHeight;
  @if $weight == 'bold' {
    font-weight: var(--font-weight-body-bold);
  } @else if $weight == 'medium' {
    font-weight: var(--font-weight-body-medium);
  } @else {
    font-weight: var(--font-weight-body-regular);
  }
}

@mixin type-body-1($weight: regular) {
  @include __type-body-base(20px, 28px, $weight);
}

@mixin type-body-2($weight: regular) {
  @include __type-body-base(16px, 24px, $weight);
}

@mixin type-body-3($weight: regular) {
  @include __type-body-base(14px, 20px, $weight);
}

@mixin type-body-4($weight: regular) {
  @include __type-body-base(12px, 16px, $weight);
}
