@import '@app/shared';

.page-projects {
  overscroll-behavior-x: contain; // prevent usually accidental back button overscroll :-/

  header.top-header {
    box-sizing: border-box;
    margin-top: 56px;
    padding-bottom: 40px;

    @include narrow {
      margin-top: 32px;
      padding-bottom: 24px;
    }

    h1 {
      display: block;
      @include type-display-1(bold);

      @include narrow {
        @include type-headline-1(bold);
      }

      letter-spacing: -0.5px;
      margin: 0;
      padding: 0;

      margin-bottom: 16px;
    }

    .intro {
      margin: 0;
      box-sizing: border-box;
      max-width: 480px;
      padding-right: 24px;
      color: var(--on-color-primary);

      @include type-body-1;

      @include medium {
        @include type-body-2;
        max-width: 380px;
      }

      :last-child {
        margin-bottom: 0;
      }
    }
  }

  header.filter {
    position: sticky;
    box-sizing: border-box;
    top: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    padding: 16px 0;
    background-color: rgba(var(--background-rgb), .95);
    border-bottom: 1px solid var(--thin-border-color);
    z-index: 999;

    @include narrow {
      margin: 0px calc(0px - var(--page-side-margin)) 64px calc(0px - var(--page-side-margin));
      padding: 0 var(--page-side-margin);
    }

    label {
      position: relative;

      &:first-child {
        margin-left: -12px;
      }

      input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        appearance: none;
        opacity: 0;
        padding: 0;
        margin: 0;
        cursor: pointer;
      }

      span {
        display: flex;
        color: var(--on-color-primary);
        // TODO: add to type scale
        @include type-body-2(medium);
        font-family: var(--font-stack-display);
        padding: 8px 12px;
      }

      input:checked + span {
        color: var(--accent-color);
      }
    }
  }

  // here comes a doozy...
  section.project {
    // layout
    margin-bottom: 128px;

    @include large {
      margin-bottom: 80px;
    }

    position: relative;
    display: flex;
    flex-direction: row;

    @include medium {
      flex-direction: column;
    }

    &.is-hidden {
      display: none;
    }

    // styling
    h2 {
      @include type-headline-2(bold);

      @include large {
        @include type-headline-3(bold);
      }

      margin: 0;

      .material-icons {
        font-size: 20px;
        vertical-align: bottom;
      }
    }

    p.date {
      color: var(--on-color-secondary);
    }

    .actions {
      display: flex;
      flex-flow: row wrap;
      margin-top: 20px;

      a {
        color: var(--accent-color);
        // TODO: add to type scale
        @include type-body-3(medium);
        font-family: var(--font-stack-display);
        text-decoration: none;
        display: inline-block;
        margin-bottom: 4px;
        padding: 6px 12px;
        border-radius: 4px;

        & + a {
          margin-left: 4px;
        }

        &:first-child {
          box-shadow: 0 0 0 2px var(--accent-color) inset;
        }

        &:hover {
          background-color: rgba(var(--accent-rgb), .1);
        }

        &:active {
          background-color: rgba(var(--accent-rgb), .2);
        }
      }
    }

    .info {
      width: 304px;
      flex: 0 0 auto;

      @include type-body-2;

      @include large {
        @include type-body-3;
        width: 256px;
      }

      @include medium {
        @include type-body-2;
        width: auto;
        flex: 1 1 auto;
      }

      padding-right: 24px;
      margin-bottom: 32px;
    }

    rn-carousel {
      --width: 500px; // set in JS
      --aspect-ratio: calc(4 / 3);
      display: flex;
      width: auto;
      min-width: 0;
      flex: 1 1 0;
      height: calc(var(--width) / var(--aspect-ratio));
      align-self: flex-start;
      margin: -24px 0;
      padding: 24px 0;
      box-sizing: border-box;
      position: relative;
      --page-peek: 32px;
      --page-spacing: 16px;

      @include narrow {
        --aspect-ratio: calc(4 / 5);
        --page-peek: 28px;
        --page-spacing: 8px;
        margin: -24px calc(0px - var(--page-side-margin));
      }

      @include medium {
        width: 100%;
        left: 0;
        right: 0;
        flex: 1 1 auto;
      }

      @include narrow {
        width: 100vw;
      }

      &.cloak {
        visibility: hidden;
      }

      rn-carousel-page {
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        &.no-padding .media {
          padding: 0;
        }

        img {
          pointer-events: none;
        }

        .media {
          background-color: var(--background-color);
          position: relative;
          flex: 1 1 0;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          padding: 24px;
          outline: 0; // no outline on focus; definitely not ideal
          background-size: cover;
          background-position: 50% 50%;

          opacity: 0;
          transition: opacity .5s;

          &.was-sized {
            opacity: 1;
          }

          @include narrow {
            padding: 12px;
          }

          > div {
            flex: 0 0 auto;
          }

          @mixin device-frame($name, $padding) {
            .device-frame.device-#{$name} {
              background: transparent url(../images/frame_#{$name}.svg) no-repeat 0 0;
            }

            .device-frame.device-#{$name} {
              display: flex;
              padding: #{$padding};

              video,
              img {
                @content;
              }
            }
          }

          @include device-frame('nexus5', 70px 18px 94px 18px) {
            width: 360px;
            height: 640px;
          }

          @include device-frame('browser', 44px 0 0 0) {
            width: 1440px;
            height: auto;
          }

          @include device-frame('chromebook', 63px 246px 136px 250px) {
            width: 1280px;
            height: 850px;
            object-position: 0% 0%;
            object-fit: cover;
          }

          @include device-frame('wear', 180px 38px 180px 38px) {
            width: 320px;
            height: 320px;
          }
        }

        .caption {
          @include type-body-2;

          @include large {
            @include type-body-3;
          }

          background-color: material-color('blue-grey', '800');
          color: rgba(#fff, .7);
          --link-color: #fff;
          padding: 16px 20px;

          :last-child {
            margin-bottom: 0;
          }
        }

        &.video {
          .media {
            video {
              transform: translate3d(0, 0, 0); // removes scroll snap jank
              pointer-events: none;
              display: none;
            }

            .loader {
              visibility: hidden;
              opacity: 0;
            }

            &.is-loaded {
              video {
                display: block;
              }

              .thumb {
                display: none;
              }
            }

            &.is-loading {
              .loader {
                visibility: visible;
                position: absolute;
                right: 16px;
                top: 16px;
                width: 32px;
                height: 32px;
                animation: loader .5s cubic-bezier(.7,0,.3,1) infinite;
                opacity: 1;
                transition: opacity .2s ease .5s;

                &::before,
                &::after {
                  content: '';
                  display: block;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  background-color: #000;
                  width: 4px;
                  height: 4px;
                  border-radius: 100px;
                  transform: translate(-180%, -50%);
                }
                &::after {
                  transform: translate(80%, -50%);
                }
              }

              @keyframes loader {
                from {
                  transform: rotate(0deg);
                }
                to {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
      }
    }
  }

  section.show-all {
    border-top: 1px solid var(--thin-border-color);
    margin-bottom: -56px; // bring up footer

    @include narrow {
      margin-bottom: -32px;
    }

    &.is-hidden {
      display: none;
    }

    button.show-all-projects-button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0;
      background: transparent;
      @include type-headline-3(medium);
      padding: 40px 0;
      color: var(--on-color-primary);
      appearance: none;
      width: 100%;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        color: var(--accent-color);
      }

      .material-icons {
        margin-left: 8px;
      }
    }
  }

  footer {
    color: var(--on-color-secondary);
    margin: 56px 0;
    padding: 56px 0;

    @include narrow {
      padding-top: 32px;
      margin: 32px 0;
    }

    border-top: 1px solid var(--thin-border-color);
  }

  rn-carousel-page.circle video, // circle media
  rn-carousel-page.circle img {
    border-radius: 10000px;
  }

  .is-loaded video {
    opacity: 1;
  }

  video {
    outline: 0; // remove border in firefox
  }
}
