---
layout: subpage
title: Projects
permalink: /projects/
pageClasses: page-projects page-subpage
pageController: ProjectsPage
---
<header class="top-header">
  <h1>{{ title }}</h1>
  <div class="intro">
  {% markdown %}
What I've worked on over the years, including work at Google and side projects.
More on [Dribbble](https://dribbble.com/romannurik).
  {% endmarkdown %}
  </div>
</header>

<header class="filter">
  <label><input type="radio" name="filter-tag" value="featured"><span>Featured</span></label>
  <label><input type="radio" name="filter-tag" value="all"><span>All</span></label>
  <label><input type="radio" name="filter-tag" value="ux"><span>UX</span></label>
  <label><input type="radio" name="filter-tag" value="eng"><span>Eng</span></label>
</header>

<main>

  {% for project in projects %}
  <section class="project {{ project.extra_classes }}" data-tags="{{ project.tags }}">
    <div class="info">
      <h2>{{ project.name }}</h2>
      <p class="date">{{ project.date }}</p>
      {% markdown %}{{ project.description | safe }}{% endmarkdown %}
      {% if project.actions %}
      <div class="actions">
        {% for action in project.actions %}
        <a href="{{ action.url }}">{{ action.caption }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <rn-carousel class="cloak">
      {% for page in project.pages %}
      <rn-carousel-page
          class="{{ page.extra_classes }}
                 {% if page.bg_image %}has-bg-image{% endif %}
                 {% if page.lottie %}lottie{% endif %}
                 {% if page.video %}video{% endif %}
                 {% if page.image %}image{% endif %}"
          style="--background-color: {{ page.color | material_color }};">
        <div tabindex="0"
            class="media loader-parent"
            style="{% if page.bg_image %}background-image: url(/media/{{page.bg_image}});{% endif %}
                   {% if page.crop_position %}--crop-position: {{ page.crop_position }};{% endif %}
                   {% if page.color2 %}color:{{ page.color2 | material_color }}{% endif %}">
          <div {% if page.device_frame %}class="device-frame device-{{ page.device_frame }}"{% endif %}>
          {% if page.image %}
            <img src="/media/{{ page.image }}">
          {% endif %}
          {% if page.lottie %}
            <rn-lottie-player src="/media/{{ page.lottie }}"></rn-lottie-player>
          {% endif %}
          {% if page.video %}
            <video loop muted preload="none">
              <source src="/media/{{ page.video }}.mp4" type="video/mp4">
            </video>
            <img class="thumb" src="/media/{{ page.video }}-thumb.png">
          {% endif %}
          </div>
          <div class="loader"></div>
        </div>
        {% if page.caption %}
        <div class="caption">
          {% markdown %}{{ page.caption | safe }}{% endmarkdown %}
        </div>
        {% endif %}
      </rn-carousel-page>
      {% endfor %}
    </rn-carousel>
  </section>
  {% endfor %}

  <section class="show-all">
    <button class="show-all-projects-button">
      <span>Show all projects</span>
      <i class="material-icons">expand_more</i>
    </button>
  </section>
</main>

<footer>
{% markdown %}
Code by me. [See it on GitHub](https://github.com/romannurik/roman.nurik.net)
{% endmarkdown %}
</footer>