---
destination: /index.html
pageClasses: page-landing
pageController: LandingPage
---
{% extends '_base.html' %}

{% block pagebody %}
  <div class="top"></div>
  <div class="content-container">
    <div class="content">
      <div class="avatar"></div>

      <p>Hi, I’m Roman.</p>
      <p>I’m a designer and frontend engineer on <a href="https://firebase.google.com">Firebase</a> at Google in New York.</p>
      <p>I've also done web and Android stuff like <a href="http://code.muzei.co">Muzei</a>. See more in my <a href="/portfolio/">portfolio</a>.</p>

      <!-- icons thanks to https://github.com/shalinguyen/socialicious -->
      <div class="icons">
        <a rel="me" href="https://twitter.com/romannurik" title="Twitter" class="twitter"></a>
        <a rel="me" href="https://github.com/romannurik" title="GitHub" class="github"></a>
        <a rel="me" href="https://medium.com/@romannurik" title="Medium" class="medium"></a>
        <a rel="me" href="https://dribbble.com/romannurik" title="Dribbble" class="dribbble"></a>
        <a rel="me" href="" title="Email" class="email obfuscated" data-email="roman nurik net"></a>
      </div>
    </div>
  </div>
  <div class="bottom"></div>
{% endblock %}
