:root {
  @include theme-light;
  @media (prefers-color-scheme: dark) {
    @include theme-dark;
  }

  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-stack-body);
  font-weight: var(--font-weight-body-regular);
  background-color: var(--background-color);
}

body {
  margin: 0;
}