---
layout: base
---
<nav class="top-bar">
  <div class="top-bar-content">
    <a class="home-link" href="/"><span>Roman Nurik</span></a>
  </div>
</nav>
<div class="page-content">

{{ content | safe }}

</div>