---
import Base from "./Base.astro";
import './Subpage.scss';

const { ...passdownProps } = Astro.props;
---

<Base {...passdownProps}>
  <nav class="top-bar">
    <div class="top-bar-content">
      <a class="home-link" href="/"><span>Roman Nurik</span></a>
    </div>
  </nav>
  <div class="page-content">
    <slot />
  </div>
</Base>
